In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split

#import graphviz

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/NeilPandey/Test_Dataset/master/car.data',
names=['buying','maint','doors','persons','lug_boot','safety','class1'])
data.head(10)

  buying  maint doors persons lug_boot safety class1
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc
5  vhigh  vhigh     2       2      med   high  unacc
6  vhigh  vhigh     2       2      big    low  unacc
7  vhigh  vhigh     2       2      big    med  unacc
8  vhigh  vhigh     2       2      big   high  unacc
9  vhigh  vhigh     2       4    small    low  unacc

In [3]:
data.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class1      object
dtype: object

In [4]:
data.class1.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [5]:
data.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class1      0
dtype: int64

In [6]:
data.shape

(1728, 7)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class1      1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
data['class1'],class_names = pd.factorize(data['class1'])

In [9]:
print(class_names)

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')

In [10]:
print(data['class1'].unique())

[0 1 2 3]

In [11]:
data['buying'],_ = pd.factorize(data['buying'])

In [12]:
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])

In [13]:
data.head(10)

   buying  maint  doors  persons  lug_boot  safety  class1
0       0      0      0        0         0       0       0
1       0      0      0        0         0       1       0
2       0      0      0        0         0       2       0
3       0      0      0        0         1       0       0
4       0      0      0        0         1       1       0
5       0      0      0        0         1       2       0
6       0      0      0        0         2       0       0
7       0      0      0        0         2       1       0
8       0      0      0        0         2       2       0
9       0      0      0        1         0       0       0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null int64
maint       1728 non-null int64
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null int64
safety      1728 non-null int64
class1      1728 non-null int64
dtypes: int64(7)
memory usage: 94.6 KB

In [15]:
#DATA PREPN
X = data.iloc[:,0:-1]

In [16]:
y = data.iloc[:,-1]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25, 
                                                    random_state=0)

In [18]:
dtree = tree.DecisionTreeClassifier(criterion='entropy', random_state=0)

In [19]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [20]:
y_pred = dtree.predict(X_test)
len(y_pred)

432

In [21]:
count_misclassified = (y_test != y_pred).sum()

In [22]:
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 12

In [23]:
accuracy = metrics.accuracy_score(y_test, y_pred)

In [24]:
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.97

In [25]:
X_test.head(5)

      buying  maint  doors  persons  lug_boot  safety
1318       3      0      0        2         1       1
124        0      1      0        1         2       1
648        1      2      0        0         0       0
249        0      2      1        0         2       0
1599       3      2      3        0         2       0

In [26]:
y_test.head(5)

1318    0
124     0
648     0
249     0
1599    0
Name: class1, dtype: int64

In [27]:
dtree.predict([[2,1,0,1,0,2]])

array([1], dtype=int64)

In [28]:
tree.plot_tree(dtree)

AttributeError: module 'sklearn.tree' has no attribute 'plot_tree'

In [31]:
tree.export_graphviz(dtree)

digraph Tree {
node [shape=box] ;
0 [label="X[5] <= 0.5\nentropy = 1.191\nsamples = 1296\nvalue = [914, 285, 49, 48]"] ;
1 [label="entropy = 0.0\nsamples = 446\nvalue = [446, 0, 0, 0]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="X[3] <= 0.5\nentropy = 1.474\nsamples = 850\nvalue = [468, 285, 49, 48]"] ;
0 -> 2 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
3 [label="entropy = 0.0\nsamples = 286\nvalue = [286, 0, 0, 0]"] ;
2 -> 3 ;
4 [label="X[0] <= 1.5\nentropy = 1.633\nsamples = 564\nvalue = [182, 285, 49, 48]"] ;
2 -> 4 ;
5 [label="X[1] <= 0.5\nentropy = 1.0\nsamples = 290\nvalue = [148, 142, 0, 0]"] ;
4 -> 5 ;
6 [label="entropy = 0.0\nsamples = 66\nvalue = [66, 0, 0, 0]"] ;
5 -> 6 ;
7 [label="X[4] <= 0.5\nentropy = 0.948\nsamples = 224\nvalue = [82, 142, 0, 0]"] ;
5 -> 7 ;
8 [label="X[5] <= 1.5\nentropy = 0.927\nsamples = 73\nvalue = [48, 25, 0, 0]"] ;
7 -> 8 ;
9 [label="entropy = 0.0\nsamples = 36\nvalue = [36, 0, 0, 0]"] ;
8 -> 9 ;
10 [label="X[1] <= 1.5\nentropy = 0.909\nsamples = 37\nvalue = [12, 25, 0, 0]"] ;
8 -> 10 ;
11 [label="X[0] <= 0.5\nentropy = 0.961\nsamples = 13\nvalue = [8, 5, 0, 0]"] ;
10 -> 11 ;
12 [label="entropy = 0.0\nsamples = 7\nvalue = [7, 0, 0, 0]"] ;
11 -> 12 ;
13 [label="X[2] <= 0.5\nentropy = 0.65\nsamples = 6\nvalue = [1, 5, 0, 0]"] ;
11 -> 13 ;
14 [label="X[3] <= 1.5\nentropy = 1.0\nsamples = 2\nvalue = [1, 1, 0, 0]"] ;
13 -> 14 ;
15 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 1, 0, 0]"] ;
14 -> 15 ;
16 [label="entropy = 0.0\nsamples = 1\nvalue = [1, 0, 0, 0]"] ;
14 -> 16 ;
17 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 4, 0, 0]"] ;
13 -> 17 ;
18 [label="X[2] <= 0.5\nentropy = 0.65\nsamples = 24\nvalue = [4, 20, 0, 0]"] ;
10 -> 18 ;
19 [label="X[3] <= 1.5\nentropy = 0.985\nsamples = 7\nvalue = [4, 3, 0, 0]"] ;
18 -> 19 ;
20 [label="entropy = 0.0\nsamples = 3\nvalue = [0, 3, 0, 0]"] ;
19 -> 20 ;
21 [label="entropy = 0.0\nsamples = 4\nvalue = [4, 0, 0, 0]"] ;
19 -> 21 ;
22 [label="entropy = 0.0\nsamples = 17\nvalue = [0, 17, 0, 0]"] ;
18 -> 22 ;
23 [label="X[1] <= 1.5\nentropy = 0.769\nsamples = 151\nvalue = [34, 117, 0, 0]"] ;
7 -> 23 ;
24 [label="X[0] <= 0.5\nentropy = 0.999\nsamples = 46\nvalue = [24, 22, 0, 0]"] ;
23 -> 24 ;
25 [label="entropy = 0.0\nsamples = 21\nvalue = [21, 0, 0, 0]"] ;
24 -> 25 ;
26 [label="X[2] <= 1.5\nentropy = 0.529\nsamples = 25\nvalue = [3, 22, 0, 0]"] ;
24 -> 26 ;
27 [label="X[4] <= 1.5\nentropy = 0.881\nsamples = 10\nvalue = [3, 7, 0, 0]"] ;
26 -> 27 ;
28 [label="X[2] <= 0.5\nentropy = 0.971\nsamples = 5\nvalue = [3, 2, 0, 0]"] ;
27 -> 28 ;
29 [label="entropy = 0.0\nsamples = 2\nvalue = [2, 0, 0, 0]"] ;
28 -> 29 ;
30 [label="X[3] <= 1.5\nentropy = 0.918\nsamples = 3\nvalue = [1, 2, 0, 0]"] ;
28 -> 30 ;
31 [label="entropy = 0.0\nsamples = 1\nvalue = [1, 0, 0, 0]"] ;
30 -> 31 ;
32 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 2, 0, 0]"] ;
30 -> 32 ;
33 [label="entropy = 0.0\nsamples = 5\nvalue = [0, 5, 0, 0]"] ;
27 -> 33 ;
34 [label="entropy = 0.0\nsamples = 15\nvalue = [0, 15, 0, 0]"] ;
26 -> 34 ;
35 [label="X[5] <= 1.5\nentropy = 0.454\nsamples = 105\nvalue = [10, 95, 0, 0]"] ;
23 -> 35 ;
36 [label="X[2] <= 1.5\nentropy = 0.714\nsamples = 51\nvalue = [10, 41, 0, 0]"] ;
35 -> 36 ;
37 [label="X[4] <= 1.5\nentropy = 0.961\nsamples = 26\nvalue = [10, 16, 0, 0]"] ;
36 -> 37 ;
38 [label="X[3] <= 1.5\nentropy = 0.863\nsamples = 14\nvalue = [10, 4, 0, 0]"] ;
37 -> 38 ;
39 [label="entropy = 0.0\nsamples = 7\nvalue = [7, 0, 0, 0]"] ;
38 -> 39 ;
40 [label="X[2] <= 0.5\nentropy = 0.985\nsamples = 7\nvalue = [3, 4, 0, 0]"] ;
38 -> 40 ;
41 [label="entropy = 0.0\nsamples = 3\nvalue = [3, 0, 0, 0]"] ;
40 -> 41 ;
42 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 4, 0, 0]"] ;
40 -> 42 ;
43 [label="entropy = 0.0\nsamples = 12\nvalue = [0, 12, 0, 0]"] ;
37 -> 43 ;
44 [label="entropy = 0.0\nsamples = 25\nvalue = [0, 25, 0, 0]"] ;
36 -> 44 ;
45 [label="entropy = 0.0\nsamples = 54\nvalue = [0, 54, 0, 0]"] ;
35 -> 45 ;
46 [label="X[1] <= 1.5\nentropy = 1.748\nsamples = 274\nvalue = [34, 143, 49, 48]"] ;
4 -> 46 ;
47 [label="X[4] <= 0.5\nentropy = 1.017\nsamples = 134\nvalue = [26, 100, 8, 0]"] ;
46 -> 47 ;
48 [label="X[5] <= 1.5\nentropy = 1.0\nsamples = 45\nvalue = [22, 23, 0, 0]"] ;
47 -> 48 ;
49 [label="X[0] <= 2.5\nentropy = 0.738\nsamples = 24\nvalue = [19, 5, 0, 0]"] ;
48 -> 49 ;
50 [label="entropy = 0.0\nsamples = 14\nvalue = [14, 0, 0, 0]"] ;
49 -> 50 ;
51 [label="X[1] <= 0.5\nentropy = 1.0\nsamples = 10\nvalue = [5, 5, 0, 0]"] ;
49 -> 51 ;
52 [label="entropy = 0.0\nsamples = 4\nvalue = [4, 0, 0, 0]"] ;
51 -> 52 ;
53 [label="X[3] <= 1.5\nentropy = 0.65\nsamples = 6\nvalue = [1, 5, 0, 0]"] ;
51 -> 53 ;
54 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 4, 0, 0]"] ;
53 -> 54 ;
55 [label="X[2] <= 1.5\nentropy = 1.0\nsamples = 2\nvalue = [1, 1, 0, 0]"] ;
53 -> 55 ;
56 [label="entropy = 0.0\nsamples = 1\nvalue = [1, 0, 0, 0]"] ;
55 -> 56 ;
57 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 1, 0, 0]"] ;
55 -> 57 ;
58 [label="X[2] <= 0.5\nentropy = 0.592\nsamples = 21\nvalue = [3, 18, 0, 0]"] ;
48 -> 58 ;
59 [label="X[3] <= 1.5\nentropy = 1.0\nsamples = 6\nvalue = [3, 3, 0, 0]"] ;
58 -> 59 ;
60 [label="entropy = 0.0\nsamples = 3\nvalue = [0, 3, 0, 0]"] ;
59 -> 60 ;
61 [label="entropy = 0.0\nsamples = 3\nvalue = [3, 0, 0, 0]"] ;
59 -> 61 ;
62 [label="entropy = 0.0\nsamples = 15\nvalue = [0, 15, 0, 0]"] ;
58 -> 62 ;
63 [label="X[5] <= 1.5\nentropy = 0.694\nsamples = 89\nvalue = [4, 77, 8, 0]"] ;
47 -> 63 ;
64 [label="X[2] <= 1.5\nentropy = 0.433\nsamples = 45\nvalue = [4, 41, 0, 0]"] ;
63 -> 64 ;
65 [label="X[4] <= 1.5\nentropy = 0.684\nsamples = 22\nvalue = [4, 18, 0, 0]"] ;
64 -> 65 ;
66 [label="X[0] <= 2.5\nentropy = 0.991\nsamples = 9\nvalue = [4, 5, 0, 0]"] ;
65 -> 66 ;
67 [label="entropy = 0.0\nsamples = 3\nvalue = [3, 0, 0, 0]"] ;
66 -> 67 ;
68 [label="X[1] <= 0.5\nentropy = 0.65\nsamples = 6\nvalue = [1, 5, 0, 0]"] ;
66 -> 68 ;
69 [label="X[3] <= 1.5\nentropy = 1.0\nsamples = 2\nvalue = [1, 1, 0, 0]"] ;
68 -> 69 ;
70 [label="entropy = 0.0\nsamples = 1\nvalue = [1, 0, 0, 0]"] ;
69 -> 70 ;
71 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 1, 0, 0]"] ;
69 -> 71 ;
72 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 4, 0, 0]"] ;
68 -> 72 ;
73 [label="entropy = 0.0\nsamples = 13\nvalue = [0, 13, 0, 0]"] ;
65 -> 73 ;
74 [label="entropy = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0]"] ;
64 -> 74 ;
75 [label="X[0] <= 2.5\nentropy = 0.684\nsamples = 44\nvalue = [0, 36, 8, 0]"] ;
63 -> 75 ;
76 [label="entropy = 0.0\nsamples = 23\nvalue = [0, 23, 0, 0]"] ;
75 -> 76 ;
77 [label="X[1] <= 0.5\nentropy = 0.959\nsamples = 21\nvalue = [0, 13, 8, 0]"] ;
75 -> 77 ;
78 [label="entropy = 0.0\nsamples = 10\nvalue = [0, 10, 0, 0]"] ;
77 -> 78 ;
79 [label="X[4] <= 1.5\nentropy = 0.845\nsamples = 11\nvalue = [0, 3, 8, 0]"] ;
77 -> 79 ;
80 [label="X[2] <= 1.5\nentropy = 0.971\nsamples = 5\nvalue = [0, 3, 2, 0]"] ;
79 -> 80 ;
81 [label="entropy = 0.0\nsamples = 3\nvalue = [0, 3, 0, 0]"] ;
80 -> 81 ;
82 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 0, 2, 0]"] ;
80 -> 82 ;
83 [label="entropy = 0.0\nsamples = 6\nvalue = [0, 0, 6, 0]"] ;
79 -> 83 ;
84 [label="X[5] <= 1.5\nentropy = 1.807\nsamples = 140\nvalue = [8, 43, 41, 48]"] ;
46 -> 84 ;
85 [label="X[4] <= 0.5\nentropy = 1.258\nsamples = 66\nvalue = [4, 35, 0, 27]"] ;
84 -> 85 ;
86 [label="X[2] <= 0.5\nentropy = 0.619\nsamples = 26\nvalue = [4, 22, 0, 0]"] ;
85 -> 86 ;
87 [label="X[3] <= 1.5\nentropy = 1.0\nsamples = 8\nvalue = [4, 4, 0, 0]"] ;
86 -> 87 ;
88 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 4, 0, 0]"] ;
87 -> 88 ;
89 [label="entropy = 0.0\nsamples = 4\nvalue = [4, 0, 0, 0]"] ;
87 -> 89 ;
90 [label="entropy = 0.0\nsamples = 18\nvalue = [0, 18, 0, 0]"] ;
86 -> 90 ;
91 [label="X[1] <= 2.5\nentropy = 0.91\nsamples = 40\nvalue = [0, 13, 0, 27]"] ;
85 -> 91 ;
92 [label="X[0] <= 2.5\nentropy = 0.982\nsamples = 19\nvalue = [0, 11, 0, 8]"] ;
91 -> 92 ;
93 [label="entropy = 0.0\nsamples = 9\nvalue = [0, 9, 0, 0]"] ;
92 -> 93 ;
94 [label="X[2] <= 1.5\nentropy = 0.722\nsamples = 10\nvalue = [0, 2, 0, 8]"] ;
92 -> 94 ;
95 [label="X[4] <= 1.5\nentropy = 1.0\nsamples = 4\nvalue = [0, 2, 0, 2]"] ;
94 -> 95 ;
96 [label="X[3] <= 1.5\nentropy = 0.918\nsamples = 3\nvalue = [0, 2, 0, 1]"] ;
95 -> 96 ;
97 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 2, 0, 0]"] ;
96 -> 97 ;
98 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 0, 0, 1]"] ;
96 -> 98 ;
99 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 0, 0, 1]"] ;
95 -> 99 ;
100 [label="entropy = 0.0\nsamples = 6\nvalue = [0, 0, 0, 6]"] ;
94 -> 100 ;
101 [label="X[3] <= 1.5\nentropy = 0.454\nsamples = 21\nvalue = [0, 2, 0, 19]"] ;
91 -> 101 ;
102 [label="X[2] <= 1.5\nentropy = 0.764\nsamples = 9\nvalue = [0, 2, 0, 7]"] ;
101 -> 102 ;
103 [label="X[4] <= 1.5\nentropy = 0.971\nsamples = 5\nvalue = [0, 2, 0, 3]"] ;
102 -> 103 ;
104 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 2, 0, 0]"] ;
103 -> 104 ;
105 [label="entropy = 0.0\nsamples = 3\nvalue = [0, 0, 0, 3]"] ;
103 -> 105 ;
106 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 0, 0, 4]"] ;
102 -> 106 ;
107 [label="entropy = 0.0\nsamples = 12\nvalue = [0, 0, 0, 12]"] ;
101 -> 107 ;
108 [label="X[4] <= 0.5\nentropy = 1.562\nsamples = 74\nvalue = [4, 8, 41, 21]"] ;
84 -> 108 ;
109 [label="X[2] <= 0.5\nentropy = 1.335\nsamples = 26\nvalue = [4, 6, 0, 16]"] ;
108 -> 109 ;
110 [label="X[3] <= 1.5\nentropy = 1.406\nsamples = 8\nvalue = [4, 1, 0, 3]"] ;
109 -> 110 ;
111 [label="X[0] <= 2.5\nentropy = 0.811\nsamples = 4\nvalue = [0, 1, 0, 3]"] ;
110 -> 111 ;
112 [label="X[1] <= 2.5\nentropy = 1.0\nsamples = 2\nvalue = [0, 1, 0, 1]"] ;
111 -> 112 ;
113 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 1, 0, 0]"] ;
112 -> 113 ;
114 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 0, 0, 1]"] ;
112 -> 114 ;
115 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 0, 0, 2]"] ;
111 -> 115 ;
116 [label="entropy = 0.0\nsamples = 4\nvalue = [4, 0, 0, 0]"] ;
110 -> 116 ;
117 [label="X[0] <= 2.5\nentropy = 0.852\nsamples = 18\nvalue = [0, 5, 0, 13]"] ;
109 -> 117 ;
118 [label="X[1] <= 2.5\nentropy = 0.991\nsamples = 9\nvalue = [0, 5, 0, 4]"] ;
117 -> 118 ;
119 [label="entropy = 0.0\nsamples = 5\nvalue = [0, 5, 0, 0]"] ;
118 -> 119 ;
120 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 0, 0, 4]"] ;
118 -> 120 ;
121 [label="entropy = 0.0\nsamples = 9\nvalue = [0, 0, 0, 9]"] ;
117 -> 121 ;
122 [label="X[4] <= 1.5\nentropy = 0.725\nsamples = 48\nvalue = [0, 2, 41, 5]"] ;
108 -> 122 ;
123 [label="X[2] <= 0.5\nentropy = 1.149\nsamples = 23\nvalue = [0, 2, 16, 5]"] ;
122 -> 123 ;
124 [label="X[0] <= 2.5\nentropy = 0.971\nsamples = 5\nvalue = [0, 2, 0, 3]"] ;
123 -> 124 ;
125 [label="X[1] <= 2.5\nentropy = 0.918\nsamples = 3\nvalue = [0, 2, 0, 1]"] ;
124 -> 125 ;
126 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 2, 0, 0]"] ;
125 -> 126 ;
127 [label="entropy = 0.0\nsamples = 1\nvalue = [0, 0, 0, 1]"] ;
125 -> 127 ;
128 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 0, 0, 2]"] ;
124 -> 128 ;
129 [label="X[2] <= 1.5\nentropy = 0.503\nsamples = 18\nvalue = [0, 0, 16, 2]"] ;
123 -> 129 ;
130 [label="X[3] <= 1.5\nentropy = 0.918\nsamples = 6\nvalue = [0, 0, 4, 2]"] ;
129 -> 130 ;
131 [label="entropy = 0.0\nsamples = 2\nvalue = [0, 0, 0, 2]"] ;
130 -> 131 ;
132 [label="entropy = 0.0\nsamples = 4\nvalue = [0, 0, 4, 0]"] ;
130 -> 132 ;
133 [label="entropy = 0.0\nsamples = 12\nvalue = [0, 0, 12, 0]"] ;
129 -> 133 ;
134 [label="entropy = 0.0\nsamples = 25\nvalue = [0, 0, 25, 0]"] ;
122 -> 134 ;
}

In [ ]:
fn=['buying','maint','doors','persons','lug_boot','safety']
cn=['unacc', 'acc', 'vgood', 'good']
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
tree.plot_tree(dtree,
               feature_names = fn, 
               class_names=cn,
               filled = True);
fig.savefig('imagename.png')